html {
   max-width: 100%;
   max-height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   text-align: center;
   /* transform: 2s; */
}

#buttons {
   /* align-content: center; */
   /* display: flex; */
   /* flex-direction: row; */
   /* flex-direction: column; */
   /* text-align: center; */
   /* justify-content: center; */
   /* background-color: rgba(17, 16, 16, 0.726); */

   
}
.buttons {
   /* display: none; */
}



button {
   flex-grow: 5;
   max-height: 100px;
   height: 5em;
   width: 32%;
   font-size: .989em;
   background-color: tomato;
   color: antiquewhite;
   font-weight: bolder;
   border-radius: 15%;
}

button:disabled {
   background-color:gray;
   color: rgba(17, 16, 16, 0.726);
   font-weight: bolder;
   border-radius: 15%;
}


.team--section {
   /* display: flex; */
   /* justify-content: space-evenly */
}

.team--section--buttons {
   display: flex;
   justify-content: space-evenly
}

h1.dialogue {
   /* background-color:gray; */
   padding: 5%;
}

/* team Form */
/* @import "https://fonts.googleapis.com/css?family=Raleway"; */
/* * { box-sizing: border-box; } */
/* body { 
  margin: 0; 
  padding: 0; 
  background: #333;
  font-family: Raleway; 
  text-transform: uppercase; 
  font-size: 11px; 
} */
/* h1{ margin: 0; } */
#team { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#team:hover { background: #666; }
#team:active { background: #444; }

#teamForm { 
  /* display: none; */
  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn, 
.formBtnSubmit { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

